<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CouchBasic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97F170E71D8EF7AD0046D014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97F170FB1D8EF7AD0046D014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97F171061D8EF7AD0046D014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
